:root{
  --main-radius: 5px;
  --main-padding: 5px;

}

.container{
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr .6fr;
  grid-template-rows: .5fr .1fr .5fr, 1fr;
  grid-template-areas: 
  "content1 content1"
  "content2 content2"
  "content3 content4" 
  "content5 content5";
  grid-gap: 0.2rem;
  font-family: 'Source Serif Pro', serif;
  text-align: center;
  background-color: rgb(223, 180, 120);
}

#content1{
  background: rgb(255, 95, 148);
  grid-area: content1;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  font-weight: 800;
  font-size: 70px;
  color: rgb(7, 61, 71);
}

#content2{
  background:rgb(196, 53, 184);
  grid-area: content2;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  font-weight: 300;
  font-size: 30px;
  text-transform: lowercase;
  font-style: italic;
}

#content3{
  background:rgb(227, 111, 196);
  grid-area: content3;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  font-weight: 300;
  font-size: 30px;
  color:rgb(255, 255, 255);
}

#content4{
  background:rgba(172, 126, 211, 0.835);
  grid-area: content4;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  font-weight: 300;
  font-size: 30px;
  color:rgb(47, 3, 60)
}

#content5{
  background:rgba(159, 65, 240, 0.835);
  grid-area: content5;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  font-weight: 300;
  font-size: 30px;
  color:rgb(47, 3, 60)
}

.box_item{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Alice, serif;
  font-size: 40px;
  font-weight: 800;
  color: rgb(16, 66, 75);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
  text-align: center;
}

.box_item:hover{
  font-size: 0;
}

.box_item:hover:after{
  content: attr(data-hover);
  font-size: 25px;
  line-height: 28px;
  font-weight: 200px;
  text-align: center;
}

.underlined{
  text-decoration: underline;
}

.bolded{
  font-weight: bold;
}

@media only screen and (max-width:800px){
  .container{
      grid-template-columns: 1fr;
      grid-template-rows: 0.4fr 0.2fr 1.2fr 1.2fr 1.2fr;
      grid-template-areas: 
      "content1"
      "content2"
      "content3"
      "content4"
      "content5";
      font-size: 20%;
  }
}
