:root{
  --main-radius: 5px;
  --main-padding: 5px;

}

.container{
  display: grid;
  grid-template-columns: .7fr 1fr;
  grid-template-rows: .3fr .1fr 1fr;
  grid-template-areas: 
  "content1 content1" 
  "content2 content2" 
  "content3 content4";
  grid-gap: 0.2rem;
  font-family: 'Source Serif Pro', serif;
  text-align: center;
}

#content1{
  background: rgb(255, 95, 148);
  grid-area: content1;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  font-weight: 800;
  font-size: 70px;
  color: rgb(7, 61, 71);
}

#content2{
  background:rgb(196, 53, 184);
  grid-area: content2;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  font-weight: 300;
  font-size: 30px;
  text-transform: lowercase;
  font-style: italic;
}

#content3{
  background:rgb(227, 111, 196);
  grid-area: content3;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  font-weight: 300;
  font-size: 20px;
  color:rgb(78, 11, 129);
}

.image{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;

}

#content3:hover .image{
  opacity: 0;
  font-size: 0;
}

#content3 #review{
  display: none;
}

#content3:hover #review{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#content4{
  background:rgba(159, 65, 240, 0.835);
  grid-area: content4;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  font-weight: 300;
  font-size: 30px;
  color:rgb(47, 3, 60)
}

#content4 #recipe{
  display: none;
}

#content4:hover #recipe{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#content4:hover .box_item{
  opacity: 0;
  font-size: 0;
}

.box_item{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Alice, serif;
  font-size: 40px;
  font-weight: 800;
  color: rgb(16, 66, 75);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
  text-align: center;
}

@media only screen and (max-width:800px){
  .container{
      grid-template-columns: .3fr .4fr ;
      grid-template-rows: 0.2fr 0.1fr .8fr;
      grid-template-areas: 
      "content1 content1"
      "content2 content2"
      "content3 content4";
  }
}
