:root{
    --main-radius: 5px;
    --main-padding: 5px;

}

.container{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: .5fr .5fr .5fr .5fr .5fr .5fr;
    grid-template-areas: 
    "content1 content1 content1"
    "content2 content2 content2"
    "content3 content4 content5" 
    "content6 content7 content8"
    "content9 content10 content11"
    "content12 content13 content14";
    grid-gap: 0.2rem;
    font-family: Alice, serif;
    color: rgb(1, 53, 62);
    text-align: center;
    background-color: beige;
}


#content1{
    background: rgb(114, 235, 235);
    grid-area: content1;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    font-weight: 800;
    font-size: 120px;
    text-transform: uppercase;
}

#content2{
    background:rgb(173, 133, 224);
    grid-area: content2;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    font-weight: 300;
    font-size: 40px;
    text-transform: lowercase;
}

#content3{
    background: rgb(223, 180, 120);
    grid-area: content3;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    font-weight: 100;
    font-size: 30px;
    text-transform: uppercase;
}

#content4{
    background: rgb(204, 243, 63);
    grid-area: content4;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    font-weight: 100;
    font-size: 30px;
    text-transform: uppercase;
}

#content5{
    background: rgb(46, 235, 184);
    grid-area: content5;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    font-weight: 100;
    font-size: 30px;
    text-transform: uppercase;
}

#content6{
    background: rgb(229, 142, 203);
    grid-area: content6;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    font-weight: 100;
    font-size: 30px;
    text-transform: uppercase;
}

#content7{
    background: rgb(12, 234, 112);
    grid-area: content7;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    font-weight: 100;
    font-size: 30px;
    text-transform: uppercase;
}

#content8{
        background: rgb(151, 208, 255);
        grid-area: content8;
        border-radius: var(--main-radius);
        padding-top: var(--main-padding);
        font-weight: 100;
        font-size: 30px;
        text-transform: uppercase;
    }

#content9{
        background: rgb(223, 203, 88);
        grid-area: content9;
        border-radius: var(--main-radius);
        padding-top: var(--main-padding);
        font-weight: 100;
        font-size: 30px;
        text-transform: uppercase;
    }

#content10{
        background: rgb(255, 192, 65);
        grid-area: content10;
        border-radius: var(--main-radius);
        padding-top: var(--main-padding);
        font-weight: 100;
        font-size: 30px;
        text-transform: uppercase;
    }

    #content11{
        background: rgb(174, 104, 255);
        grid-area: content11;
        border-radius: var(--main-radius);
        padding-top: var(--main-padding);
        font-weight: 100;
        font-size: 30px;
        text-transform: uppercase;
    }

#content12{
        background: rgb(26, 207, 104);
        grid-area: content12;
        border-radius: var(--main-radius);
        padding-top: var(--main-padding);
        font-weight: 100;
        font-size: 30px;
        text-transform: uppercase;
    }

#content13{
        background: rgb(255, 39, 78);
        grid-area: content13;
        border-radius: var(--main-radius);
        padding-top: var(--main-padding);
        font-weight: 100;
        font-size: 30px;
        text-transform: uppercase;
    }

#content14{
        background: rgb(157, 182, 203);
        grid-area: content14;
        border-radius: var(--main-radius);
        padding-top: var(--main-padding);
        font-weight: 100;
        font-size: 30px;
        text-transform: uppercase;
    }

@media only screen and (max-width:800px){
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr 0.4fr 1.2fr 1.2fr 1.2fr 1.2fr 1.2fr 1.2fr 1.2fr 1.2fr 1.2fr 1.2fr 1.2fr 1.2fr;
        grid-template-areas: 
        "content1"
        "content2"
        "content3"
        "content4"
        "content5"
        "content6"
        "content7"
        "content8"
        "content9"
        "content10"
        "content11"
        "content12"
        "content13"
        "content14";
        font-size: 20%;
    }
}

a{
    text-decoration: none;
    color: rgb(1, 53, 62);

}