body{
  background-color: #FFD1DC;

}

  .container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr .4fr .4fr .4fr;
    grid-template-rows: .4fr .4fr .4fr .4fr;
    grid-template-areas: 
    "content1 content4 content5 content6" 
    "content1 content7 content8 content9"
    "content1 content10 content11 content12"
    "content13 content13 content13 content13";
  }
  
  #content1{
    grid-area: content1;
    color:#fa284e;
    text-align: center;
    font-family: 'Fredoka One', cursive;
    font-size: 120px; 
  }

  #content4{
    grid-area: content4;
    color: rgb(7, 24, 111);
    text-align: center;
    font-family: 'Fredoka One', cursive;
    font-size: 20px;
   
  }

  #content5{
    grid-area: content5;
    color: rgb(9, 26, 112);
    text-align: center;
    font-family: 'Fredoka One', cursive;
    font-size: 20px;

  }

  #content6{
    grid-area: content6;
    color: rgb(2, 12, 63);
    text-align: center;
    font-family: 'Fredoka One', cursive;
    font-size: 20px;

  }

  #content7{
    grid-area: content7;
    color: rgb(2, 12, 63);
    text-align: center;
    font-family: 'Fredoka One', cursive;
    font-size: 20px;
  }

  #content8{
    grid-area: content8;
    color: rgb(2, 12, 63);
    text-align: center;
    font-family: 'Fredoka One', cursive;
    font-size: 20px;
  }

  #content9{
    grid-area: content9;
    color: rgb(2, 12, 63);
    text-align: center;
    font-family: 'Fredoka One', cursive;
    font-size: 20px;
  }

  #content10{
    grid-area: content10;
    color: rgb(2, 12, 63);
    text-align: center;
    font-family: 'Fredoka One', cursive;
    font-size: 20px;

  }

  #content11{
    grid-area: content11;
    color: rgb(2, 12, 63);
    text-align: center;
    font-family: 'Fredoka One', cursive;
    font-size: 20px;

  }

  #content12{
    grid-area: content12;
    color: rgb(2, 12, 63);
    text-align: center;
    font-family: 'Fredoka One', cursive;
    font-size: 20px;
  }

  #content13{
    grid-area: content13;
    color: rgb(10, 48, 237);
    text-align: center;
    font-family: 'Fredoka One', cursive;
    font-size: 30px;
  }

  p{
    color: rgb(7, 24, 108);
    text-align: center;
    font-family: 'Fredoka One', cursive;
    font-size: 20px;
  }

  h3{
    color: #b01c37;
    text-align: center;
    font-family: 'Fredoka One', cursive;
    font-size: 50px;
    font-style: uppercase;
    text-align: center;
  }

  h1{
    grid-area: content1;
    color:#fa284e;
    text-align: center;
    font-family: 'Fredoka One', cursive;
    font-size: 110px; 
  }
  
  h2{
    grid-area: content2;
    color: #FE6862;
    text-align: center;
    font-family: 'Fredoka One', cursive;
    font-size: 30px;
    line-height: 5px;
    font-style: italic;
  }

  .rotate {
    animation: rotation 5s infinite linear;
  }
  
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }






  






