body{
  background-color: #FFD1DC;

}

  .container {
    display: grid;
    grid-template-columns: .8fr .5fr .5fr .5fr;
    grid-template-rows: .4fr .4fr .4fr .4fr;
    grid-template-areas: 
    "content1 content4 content5 content6" 
    "content1 content7 content8 content9"
    "content1 content10 content11 content12"
    "content2 content13 content13 content13";
  }
  
  #content1{
    grid-area: content1;
    color:#fa284e;
    text-align: center;
    font-family: 'Fredoka One', cursive;
    font-size: 170px; 
    justify-content: center;
  }

  #content4{
    grid-area: content4;
    color: rgb(7, 24, 111);
    text-align: center;
    font-family: 'Fredoka One', cursive;
    font-size: 20px;
   
  }

  #content5{
    grid-area: content5;
    color: rgb(9, 26, 112);
    text-align: center;
    font-family: 'Fredoka One', cursive;
    font-size: 20px;

  }

  #content6{
    grid-area: content6;
    color: rgb(2, 12, 63);
    text-align: center;
    font-family: 'Fredoka One', cursive;
    font-size: 20px;

  }

  #content7{
    grid-area: content7;
    color: rgb(2, 12, 63);
    text-align: center;
    font-family: 'Fredoka One', cursive;
    font-size: 20px;
  }

  #content8{
    grid-area: content8;
    color: rgb(2, 12, 63);
    text-align: center;
    font-family: 'Fredoka One', cursive;
    font-size: 20px;
  }

  #content9{
    grid-area: content9;
    color: rgb(2, 12, 63);
    text-align: center;
    font-family: 'Fredoka One', cursive;
    font-size: 20px;
  }

  #content10{
    grid-area: content10;
    color: rgb(2, 12, 63);
    text-align: center;
    font-family: 'Fredoka One', cursive;
    font-size: 20px;

  }

  #content11{
    grid-area: content11;
    color: rgb(2, 12, 63);
    text-align: center;
    font-family: 'Fredoka One', cursive;
    font-size: 20px;

  }

  #content12{
    grid-area: content12;
    color: rgb(2, 12, 63);
    text-align: center;
    font-family: 'Fredoka One', cursive;
    font-size: 20px;
  }

  #content13{
    grid-area: content13;
    color: rgb(10, 48, 237);
    text-align: left;
    font-family: 'Rubik', sans-serif;
    font-size: 30px;
    justify-content: left;
  }


  p{
    color: rgb(7, 24, 108);
    text-align: center;
    font-family: 'Fredoka One', cursive;
    font-size: 20px;
  }

  #content2{
    grid-area: content2;
    color: #FE6862;
    text-align: center;
    font-family: 'Fredoka One', cursive;
    font-size: 50px;
  }

  h1{
    grid-area: content1;
    color:#fa284e;
    text-align: center;
    font-family: 'Fredoka One', cursive;
    font-size: 170px; 
    justify-content: center;
  }

  h2{
    grid-area: content2;
    color: #FE6862;
    text-align: center;
    font-family: 'Fredoka One', cursive;
    font-size: 40px;
  }

  h3{
    grid-area: content2;
    color: #b01c37;
    text-align: center;
    font-family: 'Fredoka One', cursive;
    font-size: 130px;
    font-style: uppercase;
    text-align: center;
    margin-top: 0px;
  }

  @media only screen and (max-width:800px){
    .container{
        grid-template-columns: .3fr;
        grid-template-rows: .5fr .5fr .5fr .5fr .5fr .5fr .5fr .5fr .5fr .5fr .5fr .5fr;
        grid-template-areas: 
        "content1"
        "content4"
        "content5"
        "content6"
        "content7"
        "content8"
        "content9"
        "content10"
        "content11"
        "content12"
        "content2"
        "content13";
        ;
        justify-content: center;
        text-align: center;
    }
  }








  






