body{
  background-color: blanchedalmond;
  font-family: 'Stick No Bills', sans-serif;
}

h1{
  font-family: 'Stick No Bills', sans-serif;
  font-size: 120px;
  color:rgb(100, 10, 184);
  text-align: center;
  margin-bottom: 0px;
  padding-bottom: 0;
}

video{
  display: block;
  align-items: center;
  margin: auto;
  justify-content: center;
  margin-top: 0px;
  padding-top: 0;
 
}

.container{
  display: grid;
  grid-template-columns: 0.6fr 1fr;
  grid-template-rows: .3fr;
  grid-template-areas: 
  "content1 content2";
  grid-gap: 0.4rem;
  font-family: 'Stick No Bills', sans-serif;
  text-align: center;
}

#content1{
  grid-area: content1;
  justify-content: center;
  display: block;
  font-family: 'Stick No Bills', sans-serif;
  color: #2B463E;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
}

#content2{
  grid-area: content2;
  font-family: 'Stick No Bills', sans-serif;
  font-size: 40px;
  color: #220542;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 30px;
}

h2{
  grid-area: content1;
  font-family: 'Stick No Bills', sans-serif;
  color: #3d0571;
  font-size: 40px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 30px;
}

h3{
  grid-area: content2;
  font-family: 'Stick No Bills', sans-serif;
  font-size: 100px;
  color: #633b8e;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 0px;

}

