* {
    box-sizing: border-box;
  }

body{
    background-color:aliceblue;
    font-family: 'Poiret One', cursive; 
}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50vw;
  height: 50vw;
}

h1{
    font-family: 'Poiret One', cursive;
    font-size: 130px;
    font-weight: 300;
    color: midnightblue;
    text-align: center;
    margin: 0;
    padding: 0;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  font-size: 30px;
  text-align: center;
}

.flex-item-left {
  padding: 10px;
  flex: 50%;
}

.flex-item-right {
  padding: 10px;
  flex: 50%;
}

img { 
    display: inline-block; 
    height:100px; 
    width: auto;   
}

#wrap{
    margin: 50px;
}

#salad{
    padding: 10px;
}

#barbecue{
  padding: 10px;
}

#cauliflower1{
  padding: 10px;
}

#cauliflower2{
  padding: 10px;
}

#cauliflower3{
  padding: 10px;
}

