.container{
  display: grid;
  height: 147vh;
  grid-template-columns: 0.3fr 2fr;
  grid-template-rows: .3fr .1fr .1fr .1fr .1fr .1fr .1fr .2fr;
  grid-template-areas: 
  "content1 content2"
  "content1 content3"
  "content1 content4"
  "content1 content5"
  "content1 content6"
  "content1 content7"
  "content1 content8"
  "content1 content9";
  grid-gap: 0.4rem;
  font-family: Alice, serif;
  color: rgb(1, 53, 62);
  text-align: center;
  background-color: #A6B1A3;
}

#content1{
  grid-area: content1;
  justify-content: center;
  display: block;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  font-family: 'Chonburi', cursive;
  color: #2B463E;
  font-size: 20px;
}

#content2{
  grid-area: content2;
  font-family: 'Chonburi', cursive;
  font-size: 100px;
  color: #2B463E;
}

#content3{
  grid-area: content3;
  font-family: 'Chonburi', cursive;
  font-size: 30px;
  color: #057275;
  text-align: center;
  max-width: 600px;
  position: relative;
}

#content4{
  grid-area: content4;
  font-family: 'Chonburi', cursive;
  font-size: 30px;
  color: #69792F;
  text-align: center;
  max-width: 600px;
  position: relative;
}

#content5{
  grid-area: content5;
  font-family: 'Chonburi', cursive;
  font-size: 30px;
  color: #057275;
  text-align: center;
  max-width: 600px;
  position: relative;
}

#content6{
  grid-area: content6;
  font-family: 'Chonburi', cursive;
  font-size: 30px;
  color: #69792F;
  text-align: center;
  max-width: 600px;
  position: relative;
}

#content7{
  grid-area: content7;
  font-family: 'Chonburi', cursive;
  font-size: 30px;
  color: #057275;
  text-align: center;
  max-width: 600px;
  position: relative;
}

#content8{
  grid-area: content8;
  font-family: 'Chonburi', cursive;
  font-size: 30px;
  color: #69792F;
  text-align: center;
  max-width: 600px;
  position: relative;
}

#content9{
  grid-area: content9;
  font-family: 'Chonburi', cursive;
  font-size: 20px;
  color:#2B463E;
  margin-right: 20px;
  
}

h1{
  font-family: 'Chonburi', cursive;
  color: #233d3d;
  font-size: 40px;
  line-height: 180px;
}

h2{
  font-family: 'Chonburi', cursive;
  color: #36846d;
  font-size: 80px;
  line-height: 0px;
  margin-top: 20px;
}

.center{
  text-align: center;
}


@media only screen and (max-width:800px){
  .container{
    grid-template-columns: 0.3fr 2fr;
    grid-template-rows: .3fr .1fr .1fr .1fr .1fr .1fr .1fr .2fr;
    grid-template-areas: 
    "content1 content2"
    "content1 content3"
    "content1 content4"
    "content1 content5"
    "content1 content6"
    "content1 content7"
    "content1 content8"
    "content1 content9";
    font-size: 20%;
  }
}


