header{
    padding: 5% 40%;
    text-align: center;
    background: url(https://media.istockphoto.com/vectors/computer-games-seamless-background-vector-id528711245?b=1&k=6&m=528711245&s=612x612&w=0&h=zKGpDrFzAtNBAkze6CneYPH2cPtjgTIm94yJKalnpUc=);
}

header p{
    color: white;
    font-size: 30px;
    padding: 5%;
    margin: 5% 0px;
    background: rgba(0,0,0,0.8) ;
}

.bookmarks{
    display: inline-block;
    border-radius: 10px;
    color: white;
    padding: 1% 5%;
    text-align: center;
    text-decoration: none;
    margin: 0px 3%;
 
}

.bookmarks:hover{
    background-image: linear-gradient(to right, yellow, red);
    color:midnightblue;
}

.topnav {
    padding: 20px;
    text-align: center;
    background : url("https://i.pinimg.com/originals/79/73/e9/7973e9a92e0ce745a60614beceba961f.gif")
  }

  .center{
    text-align: center !important;
  }