body{
  font-family: 'Trochut', cursive;
  background-color: black;
}

h1{
  font-family: 'Trochut', cursive;
  font-size: 120px;
  color: rgb(66, 160, 80);
  font-weight: 600;
  text-align: center;
  writing-mode: vertical-rl;
  text-orientation: sideways;
  display: block;
  margin-left: 70px;
  transform: rotate(180deg);
}

h2{
  font-family: 'Trochut', cursive;
  font-size: 120px;
  color: rgb(195, 54, 54);
  font-weight: 600;
  text-align: center;
  writing-mode: vertical-rl;
  text-orientation: sideways;
  display: block;
  margin-left: 70px;
}

.flexbox{
  display: flex;
  height: 51vw;
  width: 25vw;
}

.container{
  display: grid;
  grid-template-columns: .3fr 1fr;
  grid-template-rows: .5fr;
  grid-template-areas: 
  "content1 content2";
  grid-gap: 0.2rem;
  text-align: center;
}

#content1{
  font-family: 'Trochut', cursive;
  font-size: 150px;
  color:papayawhip;
  font-weight: 100;
  text-align: center;
  margin: 30px;
  display: block;
}

#content2{
  font-family: 'Rubik', sans-serif;
  font-size: 30px;
  color:papayawhip;
  font-weight: 100;
  text-align: center;
  margin: 30px;
}